# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://sxebhrnvynkfpwssevqi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Bl5jOzxhjg-MtNqya-eDBA_1v01tTe9
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4ZWJocm52eW5rZnB3c3NldnFpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTUyNDgxMCwiZXhwIjoyMDk1MTAwODEwfQ.fW9Fc80mxIi6vYtUZh_v1iRJr4QEk_E0q0T0O1kxLvE

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# WhatsApp Business API (360dialog) — laisser vide en dev pour utiliser le mock
WHATSAPP_API_KEY=
WHATSAPP_API_URL=https://waba.360dialog.io/v1

# Google Reviews (optionnel)
GOOGLE_MAPS_PLACE_ID=
